::deep .mud-input.mud-input-outlined .mud-input-outlined-border{
    border:none;    
}

::deep .mud-input-slot.mud-input-root.mud-input-root-outlined {
    font-size:14px;
    font-weight:500;
    border: none;
    padding:0;
}

::deep .mud-grid-item-xs-2, ::deep .mud-grid-item-xs-4,::deep .mud-grid-item-xs-1 {
    background-color: lightgray;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

::deep .myclass .mud-input-slot.mud-input-root.mud-input-root-outlined {
    color: blue;
    font-weight:bold;
    font-size: 16px;
    margin:10px 0 30px 0;
}
